
<div class="wrapper">
  <h1>Modulo de tarjetas</h1>
  <div>
    <div class="container__card">
      <div>
        <h2>Consultar Tarjeta</h2>
      </div>
      <div style="padding: 20px;">
        <form [formGroup]="form">
          <p-inputNumber  formControlName="numeroTarjeta"></p-inputNumber>
        </form>
      </div>
      <div>
        <p-button label="Consultar Tarjeta"  (click)="consultarTarjeta()"></p-button>
      </div>

    </div>

  </div>

  <div>{{tarjetaConsultada}}</div>



</div>
